.carousel {
  display: flex;
  overflow: hidden;
  scroll-padding: 0 50%;
  height: auto;
  margin: 0;
  padding: 1rem 3rem;
  scroll-behavior: smooth;
}

.carousel-item {
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
  margin: 1rem 3rem;
  height: max-content;
}

.carousel-item > img {
  height: 15rem;
  width: 15rem;
}

.content {
  margin: 2rem 5rem;
}
