.scroll-container {
  height: 3rem;
  overflow: hidden;
  position: relative;
  min-height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.animated-child {
  justify-content: normal;
}

.scrollable-name {
  position: absolute;
  width: max-content;
  height: 100%;
  margin: 0;
  line-height: 50px;
  font-size: 1.5rem;
  color: var(--nsw-blue);
}

.animated-name {
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0%, 14% {
    transform: translateX(0%);
  }

  55% {
    transform: translateX(-125%);
  }

  56%, 57% {
    transform: translateY(300%);
  }
  58%, 59% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(0%);
  }
}
